<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Shoot!</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <h1 id="title">DRPS*</h1>
  <h4 id="subtitle">*doubles rock paper scissors</h4>
  <section id="room">

  </section>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/roomBundle.js"></script>
</body>
</html>
